<div class="page-header well well-sm">
  <%= link_to stories_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-hand-left"></span>
    &nbsp;Back
  <% end %>
  <%= link_to @story, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-comment"></span>
    &nbsp;Comments
  <% end %>
  <h1>Editing story</h1>
</div>

<%= render 'form' %>
