<div class="page-header well well-sm">
    <%= link_to stories_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-hand-left"></span>
    &nbsp;Back
    <% end %>
  <h1>New Story</h1>
</div>

<%= render 'form' %>
